
#drop {
    display: none;
}



@media (max-width: 1200px) {
    .wrap__contain {
        padding-left: 30px;
        padding-right: 30px;
    }

    .content-space-between,
    .form__form {
        flex-direction: column;
        align-items: center;
    }

    .wrap__contain_form {
        height: 100%;
    }

    .left-block,
    .right-block {
        width: 100%;
        align-items: center;
    }


    .wrap__contain_header .content-space-between,
    .content-space-between_amazingTeam-bottom,
    .wrap__contain_partner .content-space-between {
        flex-direction: row;
    }

}


@media (max-width: 767px) {
    #drop {
        position: fixed;
        left: 10px;
        top: 10px;
        width: 40px;
        height: 20px;
        z-index: 5;
    }

    .drop1,
    .drop2,
    .drop3 {
        position: absolute;
        background-color: #fed136;
        height: 2px;
        width: 100%;
        display: block;
        box-shadow: 0 0 20px 0 rgb(254, 209, 54);
        transition: 0.3s;
    }

    .drop1 {
        top: 0;
    }

    .drop2 {
        top: 9px;
    }

    .drop3 {
        bottom: 0;
    }

    .drop2.active {
        display: none;
    }

    .drop1.active {
        transform: rotate(45deg);
        top: 17px;
    }

    .drop3.active {
        transform: rotate(-45deg);
    }
    
    
    
    
    .wrap__contain {
        padding: 5px;
    }

    .wrap__title {
        padding-top: 40px;
    }

    #drop {
        display: block;
    }

    .wrap__contain_header {
        height: 100%;
        background-image: none;
    }

    .wrap__contain_header .content-space-between {
        background: linear-gradient(180deg, #423f3f, #2f2e32);
        height: 50px;
        width: 100%;
        position: fixed;
        z-index: 4;
        left: 0;
        top: 0;
    }



    .content-space-between {
        justify-content: center;
        margin: 0 auto;
    }

    .logo {
        display: block;
        position: fixed;
        right: 10px;
        top: 10px;
        padding: 0;
        z-index: 10;
    }

    .content-space-between__ul {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-top: 40px;
        position: fixed;
        left: 0;
        top: -100%;
        background: linear-gradient(180deg, #423f3f, #2f2e32);
        width: 100%;
        transition: 0.6s;
    }

    .content-space-between__ul.active {
        top: 0;
    }

    .wrap__contain_header .content-space-between {
        justify-content: start;
    }

    .wrap__contain_header h1 {
        margin-top: 60px;
        font-size: 34px;
        transition: 0.6s;
    }

    #header-h1.active {
        margin-top: 320px;
    }

    .header-content {
        font-size: 34px;
    }


    .content-space-between__ul li a {
        font-size: 30px;
    }

    .vertical-line {
        display: none;
    }

    .about-us-row {
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }

    .about-us-row p, .about-us-row h2 {
        padding: 10px;
        text-align: center;
    }

    .about-us-row__text_right {
        order: 1;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

    footer p, footer .sub-footer {
        width: auto;
        display: flex;
    }


}