.header-wrap {
    width: 100%;
    height: 700px;
    background: linear-gradient(180deg, #2f2e32, #423f3f);
    display: flex;
    justify-content: center;
}

.header {
    width: 100%;
    max-width: 1400px;
    height: 700px;
    background-image: url("/img/homebg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px;
}


.header-top {
    /*border: 1px solid #fff;*/
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 980px;
    box-sizing: border-box;
    flex-wrap: wrap;
}


.logo {
    /*border: 1px solid #fff;*/
    font: 26px "Wisdom Script";
    color: #fed136;
    padding-left: 28px;
    padding-top: 9px;
}

.header-top ul {
    /*border: 1px solid #fff;*/
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 14px;
}

.header-top ul li {
    margin: 8px 20px;
    justify-content: center;
}




.header-top ul li a{
    /*border: 1px solid #fff;*/
    /*margin: 5px 0;*/
    padding: 5px 0;
    font: 14px "Arial Narrow";
    font-weight: 500;
    font-stretch: ultra-expanded;
    letter-spacing: 2px;
    color: #fff;
    width: 100px;
    transition: 0.1s;
}


.header-top ul li a:hover {
    border-bottom: 2px solid #fed136;
    border-top: 2px solid #fed136;
}

.header-text {
    font: 40px "Arial";
    color: #fff;
    margin: 196px auto 29px;
    width: 100%;
    text-align: center;
}

.header-text-75px {
    font-size: 75px;
    margin: 0;
}

.btn-link {
    display: block;
    width: 240px;
    height: 64px;
    margin: 43px auto;
    padding: 20px;
    text-align: center;
    background: #fed136;
    border-radius: 5px;
    color: #fff;
    font: 24px "Arial";
    transition: 0.5s;
}

.btn-link:hover {
    box-shadow: 0px 0px 20px 0px rgba(254, 209, 54, 0.7);
}