.wrap {
    width: 100%;
}



.wrap__contain {
    width: 100%;
    max-width: 1400px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 110px 230px 54px 230px;
    margin: 0 auto;
    text-align: center;
}

.wrap__contain_header {
    height: 700px;
    background-image: url("../img/homebg.jpg");
    padding-top: 30px;
}


.content-space-between {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.logo {
    font: 26px "Wisdom Script";
    color: #fed136;
    padding-top: 9px;
}

.content-space-between__ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 14px;
}

.content-space-between__header-li {
    margin: 8px 20px;
    justify-content: center;
}

.content-space-between__header-a {
    padding: 5px 0;
    font: 14px "Arial Narrow";
    font-weight: 500;
    font-stretch: ultra-expanded;
    letter-spacing: 2px;
    color: #fff;
    width: 100px;
    transition: 0.1s;
}

.content-space-between__header-a:hover {
    border-bottom: 2px solid #fed136;
    border-top: 2px solid #fed136;
}

.header-content {
    font: 40px "Arial";
    color: #fff;
    margin: 196px auto 29px;
    width: 100%;
    text-align: center;
}

.wrap-contain_header__btn {
    display: block;
    width: 240px;
    height: 64px;
    margin: 43px auto;
    padding: 20px;
    text-align: center;
    background: #fed136;
    border-radius: 5px;
    color: #fff;
    font: 24px "Arial";
    transition: 0.5s;
}

.wrap-contain_header__btn:hover {
    box-shadow: 0px 0px 20px 0px rgba(254, 209, 54, 0.7);
}

.wrap__title {
    margin-bottom: 76px;
}

.wrap__title h2 {
    font: 700 40px "Arial";
    padding-bottom: 10px;
}

.wrap__title p {
    font: 16px "Times New Roman";
}

.content-space-between__column {
    width: 100%;
    max-width: 280px;
    margin-bottom: 50px;
}

.content-space-between__column h2 {
    font: 700 18px "Arial";
    padding-bottom: 8px;
}


.content-space-between__column p {
    font: 18px "Times New Roman";
    line-height: 1.5;
}

.about-us-row {
    display: flex;
    justify-content: center;
    /*padding-bottom: 50px;*/
}

.about-us-row__text {
    width: 320px;
}

.about-us-row__empty {
    width: 320px;
}

.about-us-row__text h2 {
    font: 700 18px "Arial";
    padding-bottom: 15px;
}

.about-us-row__text p {
    font: 16px "Times New Roman";
    line-height: 1.6;


    padding-bottom: 60px;
}

.about-us-row__img {
    min-width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 8px solid #f1f1f1;
    margin: 0 40px;

}

.vertical-line {
    background: #f1f1f1;
    min-height: 90px;
    height: 100%;
    width: 2px;
    margin: 0 auto;
}


































